/* ref. https://tailwindcss.com/blog/tailwindcss-v4-alpha  */
@import "tailwindcss";

@theme {
  /* --font-family-sans: -apple-system, blinkMacSystemFont, Helvetica, 'Yu Gothic', YuGothic,
    'BIZ UDPGothic', Meiryo, sans-serif;
  --font-family-sans: -apple-system, blinkMacSystemFont, Helvetica, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo, sans-serif;
  --font-family-serif: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', serif; */
  --font-family-sans: Inter, YakuHanJP, "Noto Sans JP", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;

  --color-primary: #fff;

  /* Text */
  --color-main: #ffffff;

  /* Code */
  --color-blue: #6da7fe;
}

/* Slider */

.js-slider .slick-slide .inner {
  opacity: 0;
  transition: all 0.3s;
}
.js-slider .slick-slide.slick-current .inner {
  opacity: 1;
}
.slick-list {
  overflow: inherit !important;
}
.slick-track {
  overflow: hidden;
}
